<form [formGroup]="filterFormGroup" role="form">
  <div class="row">

    <div class="col-sm-6 col-md-3 col-lg-2">
      <div class="form-group">
        <label for="filter_tracker_id">トラッカー</label>
        <select formControlName="tracker_id" id="filter_tracker_id" class="form-control input-sm">
          <option value="">すべて</option>
          <option *ngFor="let item of enums.trackers" [value]="item.id">{{item.name}}</option>
        </select>
      </div>
    </div>

    <div class="col-sm-6 col-md-3 col-lg-2">
      <div class="form-group">
        <label for="filter_status_id">ステータス</label>
        <select formControlName="status_id" id="filter_status_id" class="form-control input-sm">
          <option value="*">すべて</option>
          <option value="open">未完了</option>
          <option value="closed">完了</option>
        </select>
      </div>
    </div>

  </div>
</form>

