<form [formGroup]="filterFormGroup" role="form">
  <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
    <ngb-panel title="基本項目">
      <ng-template ngbPanelContent>
        <div class="row">
          <div class="col-sm-6 col-md-3 col-lg-2">
            <div class="form-group">
              <label for="filter_project_id">プロジェクト</label>
              <select formControlName="project_id" id="filter_project_id" class="form-control input-sm">
                <option value=null>すべて</option>
                <option *ngFor="let item of api.projects" [value]="item.id">{{item.name}}</option>
              </select>
            </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-2">
            <div class="form-group">
              <label for="filter_tracker_id">トラッカー</label>
              <select formControlName="tracker_id" id="filter_tracker_id" class="form-control input-sm">
                <option value=null>すべて</option>
                <option *ngFor="let item of api.trackers" [value]="item.id">{{item.name}}</option>
              </select>
            </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-2">
            <div class="form-group">
              <label for="filter_status_id">ステータス</label>
              <select formControlName="status_id" id="filter_status_id" class="form-control input-sm">
                <option value="*">すべて</option>
                <option value="open">未完了</option>
                <option value="closed">完了</option>
                <optgroup label="----">
                  <option *ngFor="let item of api.issue_statuses" [value]="item.id">{{item.name}}</option>
                </optgroup>
              </select>
            </div>
          </div>
        </div>
      </ng-template>
    </ngb-panel>
  </ngb-accordion>
</form>
