<main role="main" class="container-fluid">
  <header class="pb-2 mb-3">
    <h1 class="h2">マイページ</h1>
  </header>
  <section class="row">
    <div class="col-md-6">
      <div class="card border-primary">
        <div class="card-header d-flex justify-content-between align-items-center">
          担当しているチケット
          <span class="badge badge-danger badge-pill" *ngIf="issuesassignedtome">
            {{ issuesassignedtome.total_count }}
          </span>
        </div>
        <div class="card-body p-1">
          <app-my-issues [issues]="issuesassignedtome"></app-my-issues>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card border-primary">
        <div class="card-header d-flex justify-content-between align-items-center">
          報告したチケット
          <span class="badge badge-primary badge-pill" *ngIf="issuesreportedbyme">
            {{ issuesreportedbyme.total_count }}
          </span>
        </div>
        <div class="card-body p-1">
          <app-my-issues [issues]="issuesreportedbyme"></app-my-issues>
        </div>
      </div>
    </div>
  </section>
</main>
