<header class="main-header">
  <a href="/" class="logo">
    <span class="logo-mini">
      <i class="fa fa-ticket"></i>
    </span>
    <span class="logo-lg">
      <i class="fa fa-ticket"></i>
      NgRedmineAdmin
    </span>
  </a>
  <nav class="navbar navbar-static-top">
    <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </a>

    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">
        <li class="dropdown tasks-menu">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-ticket"></i>
            <span class="label label-danger" *ngIf="issuesassignedtome">{{ issuesassignedtome.total_count }}</span>
          </a>
          <ul class="dropdown-menu" *ngIf="issuesassignedtome">
            <li class="header">担当しているチケット({{ issuesassignedtome.total_count }})</li>
            <li>
              <ul class="menu">
                <li *ngFor="let issue of issuesassignedtome.issues">
                  <a [routerLink]="['/issues', issue.id]">
                    <h3>
                      {{issue.subject}}
                      <small class="pull-right">{{issue.done_ratio}}%</small>
                    </h3>
                    <div class="progress xs">
                      <div class="progress-bar progress-bar-aqua" style="width: {{issue.done_ratio}}%" role="progressbar"
                        attr.aria-valuenow="{{issue.done_ratio}}" aria-valuemin="0" aria-valuemax="100">
                        <span class="sr-only">{{issue.done_ratio}}% Complete</span>
                      </div>
                    </div>
                  </a>
                </li>
              </ul>
            </li>
            <li class="footer">
              <a [routerLink]="['/my']">マイページへ</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
</header>