<main role="main" class="container-fluid">
  <header class="p-3">
    <h1 class="h2">チケット</h1>
  </header>
  <section>
    <div class="card border-primary mb-3">
      <div class="card-header">フィルタ</div>
      <div class="card-body p-1" id="filter">
        <issues-filter [filterFormGroup]="filterFormGroup"></issues-filter>
      </div>
    </div>

    <div class="card border-primary">
      <div class="card-header d-flex justify-content-between align-items-center">
        チケット一覧
        <span class="badge badge-primary badge-pill" *ngIf="issues">
          {{ issues.total_count }}
        </span>
      </div>
      <div class="card-body p-1">
        <issues-table [issues]="issues"></issues-table>
      </div>
    </div>
  </section>
</main>
