<section class="content-header">
  <h1>{{ title }}</h1>
</section>

<section class="content">
  <div class="box box-primary">
    <div class="box-header with-border">
      <h3 class="box-title">フィルタ</h3>
      <div class="box-tools pull-right">
        <button type="button" class="btn btn-box-tool" data-widget="collapse">
          <i class="fa fa-plus"></i>
        </button>
      </div>
    </div>
    <div class="box-body">
      <issues-filter [filterFormGroup]="filterFormGroup" [enums]="enums"></issues-filter>
    </div>
  </div>

  <div class="box box-primary">
    <div class="box-header with-border">
      <h3 class="box-title">
        チケット一覧
      </h3>
      <div class="pull-right">
        <span class="label label-primary pull-right" *ngIf="issues">{{ issues.total_count }}</span>
      </div>
    </div>
    <div class="box-body" *ngIf="issues; else loading">
      <table *ngIf="issues.issues.length > 0; else empty" class="table table-condensed">
        <thead>
          <tr>
            <th>#</th>
            <th>トラッカー</th>
            <th>ステータス</th>
            <th>優先度</th>
            <th>題名</th>
            <th>担当者</th>
            <th>更新日</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let issue of issues.issues">
            <td><a [routerLink]="['/issues', issue.id]">{{issue.id}}</a></td>
            <td>{{issue.tracker?.name}}</td>
            <td>{{issue.status?.name}}</td>
            <td>{{issue.priority?.name}}</td>
            <td><a [routerLink]="['/issues', issue.id]">{{issue.subject}}</a></td>
            <td>{{issue.assigned_to?.name}}</td>
            <td>{{issue.updated_on | date:"yyyy/MM/dd"}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>

<ng-template #loading>
  <div class="overlay">
    <i class="fa fa-refresh fa-spin"></i>
  </div>
</ng-template>

<ng-template #empty>
  <div class="callout callout-warning">
    <p>表示するデータがありません</p>
  </div>
</ng-template>
