<div class="card border-primary">
  <div class="card-header p-2">
    チケットトラッキング
  </div>
  <div class="card-body p-1">
    <table class="table table-sm">
      <thead>
        <tr>
          <th>トラッカー</th>
          <th>未完了</th>
          <th>完了</th>
          <th>合計</th>
          <th>進捗</th>
          <th>%</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of items">
          <td>{{ item.name }}</td>
          <td class="text-right">
            <a [routerLink]="['/projects', project.id, 'issues']" [queryParams]="{ tracker_id: item.id }">
              {{ item.openIssues }}
            </a>
          </td>
          <td class="text-right">
            <a [routerLink]="['/projects', project.id, 'issues']" [queryParams]="{ tracker_id: item.id, status_id: 'closed' }">
              {{ item.closedIssues }}
            </a>
          </td>
          <td class="text-right">
            <a [routerLink]="['/projects', project.id, 'issues']" [queryParams]="{ tracker_id: item.id, status_id: '*' }">
              {{ item.allIssues }}
            </a>
          </td>
          <td>
            <div class="progress progress-xs">
              <div class="progress-bar" [ngClass]="item.style.progressbar" [ngStyle]="{'width': item.progress}"></div>
            </div>
          </td>
          <td><span class="badge" [ngClass]="item.style.bg">{{ item.progress }}</span></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
