<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
  <i class="fa fa-envelope-o"></i>
  <span class="label label-success" *ngIf="messages">{{ messages.total_count }}</span>
</a>
<ul class="dropdown-menu" *ngIf="messages">
  <li class="header">{{ header }} ({{ messages.total_count }})</li>
  <li>
    <ul class="menu">
      <li *ngFor="let issue of messages.issues">
        <a [routerLink]="['/issues', issue.id]">
          <div class="pull-left">
            <img src="dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
          </div>
          <h4>
            Support Team
            <small><i class="fa fa-clock-o"></i> 5 mins</small>
          </h4>
          <p>Why not buy a new awesome theme?</p>
        </a>
      </li>
    </ul>
  </li>
  <li class="footer"><a href="#">See All Messages</a></li>
</ul>
