<div class="card">
  <div class="card-body">
    <ng-container *ngIf="journals; else empty">
      <ng-container *ngFor="let journal of journals">
        <h5 class="card-title">
          #{{journal.id}} {{journal.user.name}}
          <span><i class="fa fa-clock-o"></i>{{journal.created_on | date:'medium' }}</span>
        </h5>
        <p *ngFor="let detail of journal.details" class="card-text">
          {{detail.name}} を {{detail.old_value}} から {{detail.new_value}} に変更
        </p>
        <p *ngIf="journal.notes" class="card-text">{{journal.notes}}</p>
      </ng-container>
    </ng-container>
  </div>
</div>

<ng-template #empty>
  <div class="alert alert-light" role="alert">
    <p>表示するデータがありません</p>
  </div>
</ng-template>
