<div class="p-3" [formGroup]="issueFormGroup">
  <div class="row">
    <div class="col-md-9">

      <div class="form-group">
        <label>プロジェクト</label>
        <select formControlName="project_id" class="form-control">
          <option *ngFor="let item of api.projects" [value]="item.id">{{item.name}}</option>
        </select>
      </div>

      <div class="form-group">
        <label>トラッカー</label>
        <select formControlName="tracker_id" class="form-control">
          <option *ngFor="let item of projectEnums.trackers" [value]="item.id">{{item.name}}</option>
        </select>
      </div>

    </div>
    <div class="col-md-3">

      <div class="checkbox" id="issue_is_private_wrap">
        <input type="hidden" value="0" formControlName="is_private">
        <input type="checkbox" value="1" formControlName="is_private" id="issue_is_private">
        <label class="inline" for="issue_is_private" id="issue_is_private_label">プライベート</label>
      </div>

    </div>
  </div>

  <div class="form-group">
    <label>題名</label>
    <input type="text" formControlName="subject" id="issue_subject" class="form-control">
  </div>

  <div class="form-group">
    <label>説明</label>
    <textarea formControlName="description" id="issue_description" class="form-control"></textarea>
  </div>

  <hr>

  <div class="row">
    <div class="form-group col-sm-6 col-md-3 col-lg-3 col-xl-3">
      <label>ステータス</label>
      <select formControlName="status_id" class="form-control">
        <option *ngFor="let item of api.issue_statuses" [value]="item.id">{{item.name}}</option>
      </select>
    </div>

    <div class="form-group col-sm-6 col-md-3 col-lg-3 col-xl-3">
      <label>優先度</label>
      <select formControlName="priority_id" class="form-control">
        <option *ngFor="let item of api.issue_priorities" [value]="item.id">{{item.name}}</option>
      </select>
    </div>

    <div class="form-group col-sm-6 col-md-3 col-lg-3 col-xl-3">
      <label>担当者</label>
      <select formControlName="assigned_to_id" class="form-control">
        <option *ngFor="let item of projectEnums.memberships" [value]="item.user.id">{{item.user.name}}</option>
      </select>
    </div>

    <div class="form-group col-sm-6 col-md-3 col-lg-3 col-xl-3">
      <label>カテゴリ</label>
      <select formControlName="category_id" class="form-control">
        <option *ngFor="let item of projectEnums.issue_categories" [value]="item.id">{{item.name}}</option>
      </select>
    </div>

    <div class="form-group col-md-3">
      <label>対象バージョン</label>
      <select formControlName="fixed_version_id" class="form-control">
        <option *ngFor="let item of projectEnums.versions" [value]="item.id">{{item.name}}</option>
      </select>
    </div>

    <div class="form-group col-md-3">
      <label>開始日</label>
      <div class="form-group">
        <input type="date" formControlName="start_date" class="form-control">
      </div>
    </div>

    <div class="form-group col-md-3">
      <label>期日</label>
      <div class="form-group">
        <input type="date" formControlName="due_date" class="form-control">
      </div>
    </div>
  </div>

  <hr>

  <div formArrayName="custom_fields" class="row">
    <div *ngFor="let cf of issueFormGroup.value.custom_fields; let i=index; trackBy: trackByFn" class="form-group col-md-3">
      <div [formGroupName]="i">
        <label>{{cf.name}}</label>
        <input type="text" formControlName="value" class="form-control">
      </div>
    </div>
  </div>

  <hr>

  <div class="form-group">
    <label>ファイル</label>
    <input type="file" name="attachments[dummy][file]" class="file_selector filedrop" multiple="multiple">
  </div>
</div>
