<a href="#" class="dropdown-toggle" data-toggle="dropdown">
  <span class="hidden-xs">{{ user?.login }}</span>
</a>
<ul class="dropdown-menu">
  <li class="user-header">
    <p>
      {{ user?.firstname }} {{ user?.lastname }}
    </p>
  </li>
  <li class="user-body">
    <div class="row">
      <div class="col-xs-4 text-center">
        <a href="#">Followers</a>
      </div>
      <div class="col-xs-4 text-center">
        <a href="#">Sales</a>
      </div>
      <div class="col-xs-4 text-center">
        <a href="#">Friends</a>
      </div>
    </div>
  </li>
  <li class="user-footer">
    <div class="pull-left">
      <a href="#" class="btn btn-default btn-flat">Profile</a>
    </div>
    <div class="pull-right">
      <a href="#" class="btn btn-default btn-flat">Sign out</a>
    </div>
  </li>
</ul>
