<section class="p-1">
  <h5>新着チケット</h5>
  <ng-container *ngIf="data; else loading">
    <div class="row">
      <div *ngFor="let item of data" class="col-xs-12 col-sm-4 col-md-4 col-lg-3">
        <square-widget
          [context]="item.context"
          [icon]="item.icon"
          [(number)]="item.number"
          [text]="item.text"
          [link]="item.link">
        </square-widget>
      </div>
    </div>

    <div *ngFor="let item of data" class="card my-1" [ngClass]="'border-'+item.context">
      <div class="card-header d-flex justify-content-between align-items-center">
        {{ item.text }}
        <span class="badge badge-pill" [ngClass]="'badge-'+item.context">
          {{ item.number }}
        </span>
      </div>
      <div class="card-body" *ngIf="item.number">
        <div *ngFor="let issue of item.issues">
          {{ issue.subject }}
        </div>
      </div>
    </div>
  </ng-container>
</section>

<ng-template #loading>
  <div class="overlay">
    <i class="fa fa-refresh fa-spin"></i>
  </div>
</ng-template>
