<section class="content-header">
  <h1>{{ title }}</h1>
</section>
<section class="content">
  <form [formGroup]="issueFormGroup" role="form" (ngSubmit)="onSubmit()" novalidate>

    <div class="nav-tabs-custom">

      <ul class="nav nav-tabs">
        <li class="active"><a href="#tab_default_layout" data-toggle="tab">フォーム</a></li>
        <li><a href="#tab_2" data-toggle="tab">Tab 2</a></li>
        <li><a href="#tab_history" data-toggle="tab">履歴</a></li>
        <li class="pull-right">
          <a href="#" class="text-muted"><i class="fa fa-gear"></i></a>
        </li>
        <li class="pull-right">
          <button type="submit" class="btn btn-success">Submit</button>
        </li>
      </ul>

      <div class="tab-content">
        <div class="tab-pane active" id="tab_default_layout">
          <default-layout-form [issueFormGroup]="issueFormGroup" [enums]="enums"></default-layout-form>
        </div>
        <div class="tab-pane" id="tab_2">
          The European languages are members of the same family. Their separate existence is a myth.
        </div>
        <div class="tab-pane" id="tab_history">
          <issue-history [originalIssue]="originalIssue"></issue-history>
        </div>
      </div>
    </div>

    <!-- loading -->
    <div class="overlay" *ngIf="!issue">
      <i class="fa fa-refresh fa-spin"></i>
    </div>
    <!-- /.loading -->

  </form>
</section>

