<div class="card">
  <div class="card-body">
    <h5 class="card-title">
      <a [routerLink]="['/projects', project.id]">
        <span>{{project.name}}</span>
      </a>
    </h5>
    <p class="card-text">{{project.description}}</p>
    <a [routerLink]="['/projects', project.id]">
      <span>概要</span>
    </a>
    <a [routerLink]="['/projects', project.id, 'issues']">
      <span>すべてのチケットを表示</span>
    </a>
  </div>
</div>

<ul *ngIf="project.children">
  <ng-container *ngFor="let subproject of project.children">
  <li>
    <project-box [project]="subproject"></project-box>
  </li>
  </ng-container>
</ul>
