<main role="main" class="container-fluid">
  <header class="p-3">
    <h1 class="h2">チケット</h1>
  </header>
  <section>
    <form [formGroup]="issueFormGroup" (ngSubmit)="onSubmit()">

      <div class="row p-1">
        <div class="col-11">
          <ngb-alert *ngIf="successMessage" type="success" (close)="successMessage = null">
            {{ successMessage }}
          </ngb-alert>
          <ngb-alert *ngIf="errorMessage" type="danger" (close)="errorMessage = null">
            {{ errorMessage }}
          </ngb-alert>
        </div>
        <div class="col-1">
          <button type="submit" class="btn btn-outline-primary">送信</button>
        </div>
      </div>

      <ngb-tabset>
        <ngb-tab title="フォーム">
          <ng-template ngbTabContent>
            <default-layout-form [issueFormGroup]="issueFormGroup" [originalIssue]="originalIssue" [projectEnums]="projectEnums"></default-layout-form>
          </ng-template>
        </ngb-tab>
        <ngb-tab title="カスタムフォーム">
          <ng-template ngbTabContent>
            <custom-layout-form [issueFormGroup]="issueFormGroup" [originalIssue]="originalIssue" [projectEnums]="projectEnums"></custom-layout-form>
          </ng-template>
        </ngb-tab>
        <!--
        <ngb-tab title="tracker1">
          <ng-template ngbTabContent>
            <tracker1-layout-form [issueFormGroup]="issueFormGroup" [originalIssue]="originalIssue" [projectEnums]="projectEnums"></tracker1-layout-form>
          </ng-template>
        </ngb-tab>
        <ngb-tab title="tracker2">
          <ng-template ngbTabContent>
            <tracker2-layout-form [issueFormGroup]="issueFormGroup" [originalIssue]="originalIssue" [projectEnums]="projectEnums"></tracker2-layout-form>
          </ng-template>
        </ngb-tab>
        <ngb-tab title="tracker3">
          <ng-template ngbTabContent>
            <tracker3-layout-form [issueFormGroup]="issueFormGroup" [originalIssue]="originalIssue" [projectEnums]="projectEnums"></tracker3-layout-form>
          </ng-template>
        </ngb-tab>
        <ngb-tab title="tracker4">
          <ng-template ngbTabContent>
            <tracker4-layout-form [issueFormGroup]="issueFormGroup" [originalIssue]="originalIssue" [projectEnums]="projectEnums"></tracker4-layout-form>
          </ng-template>
        </ngb-tab>
        -->
        <ngb-tab title="履歴">
          <ng-template ngbTabContent>
            <issue-history [journals]="originalIssue.journals"></issue-history>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>
    </form>
  </section>
</main>
