<aside class="main-sidebar">
  <section class="sidebar">
    <ul class="sidebar-menu" data-widget="tree">
      <li><a [routerLink]="['/projects']"><i class="fa fa-circle-o"></i> <span>Projects</span></a></li>
      <li><a [routerLink]="['/activity']"><i class="fa fa-circle-o"></i> <span>Activity</span></a></li>
      <li><a [routerLink]="['/issues']"><i class="fa fa-circle-o"></i> <span>Issues</span></a></li>
      <li><a [routerLink]="['/time-entries']"><i class="fa fa-circle-o"></i> <span>TimeEntries</span></a></li>
      <li><a [routerLink]="['/news']"><i class="fa fa-circle-o"></i> <span>News</span></a></li>
      <li><a [routerLink]="['/my']"><i class="fa fa-circle-o"></i> <span>My</span></a></li>
    </ul>
  </section>
</aside>