<aside class="main-sidebar">
  <section class="sidebar">
    <ul class="sidebar-menu" data-widget="tree">
      <li>
        <a [routerLink]="['/dashboard']">
          <i class="fa fa-dashboard"></i>
          <span>ダッシュボード</span>
        </a>
      </li>

      <li>
        <a [routerLink]="['/my']">
          <i class="fa fa-user"></i>
          <span>マイページ</span>
        </a>
      </li>

      <li>
        <a [routerLink]="['/projects']">
          <i class="fa fa-users"></i>
          <span>プロジェクト</span>
        </a>
      </li>

      <li>
        <a [routerLink]="['/issues']">
          <i class="fa fa-tasks"></i>
          <span>チケット</span>
        </a>
      </li>
    </ul>
  </section>
</aside>