<section class="content-header">
  <h1>{{ title }}</h1>
</section>
<section class="content">
  <div class="box box-primary">
    <div class="box-header with-border">
      <h3 class="box-title">form</h3>
    </div>
    <div class="box-body">
      <form role="form" *ngIf="issue; else loading">

        <div class="row">
          <div class="col-md-9">

            <div class="form-group">
              <label for="issue_project_id">プロジェクト</label>
              <select [(ngModel)]="issue.project_id" name="issue[project_id]" id="issue_project_id" class="form-control input-sm">
              </select>
            </div>

            <div class="form-group">
              <label for="issue_tracker_id">トラッカー</label>
              <select [(ngModel)]="issue.tracker_id" name="issue[tracker_id]" id="issue_tracker_id" class="form-control input-sm">
              </select>
            </div>

          </div>
          <div class="col-md-3">

            <div class="checkbox" id="issue_is_private_wrap">
              <input type="hidden" value="0" name="issue[is_private]">
              <input type="checkbox" value="1" name="issue[is_private]" id="issue_is_private">
              <label class="inline" for="issue_is_private" id="issue_is_private_label">プライベート</label>
            </div>

          </div>
        </div>

        <div class="form-group">
          <label for="issue_subject">題名</label>
          <input type="text" [(ngModel)]="issue.subject" name="issue[subject]" id="issue_subject" class="form-control input-sm">
        </div>

        <div class="form-group">
          <label for="issue_description">説明</label>
          <textarea [(ngModel)]="issue.description" name="issue[description]" id="issue_description" class="form-control"></textarea>
        </div>

        <hr>

        <div class="row">
          <div class="col-md-3">
            <div class="form-group">
              <label for="issue_status_id">ステータス</label>
              <select [(ngModel)]="issue.status_id" name="issue[status_id]" id="issue_status_id" class="form-control input-sm">
              </select>
            </div>
          </div>

          <div class="col-md-3">
            <div class="form-group">
              <label for="issue_priority_id">優先度</label>
              <select [(ngModel)]="issue.priority_id" name="issue[priority_id]" id="issue_priority_id" class="form-control input-sm">
              </select>
            </div>
          </div>

          <div class="col-md-3">
            <div class="form-group">
              <label for="issue_assigned_to_id">担当者</label>
              <select [(ngModel)]="issue.assigned_to_id" name="issue[assigned_to_id]" id="issue_assigned_to_id" class="form-control input-sm">
              </select>
            </div>
          </div>

          <div class="col-md-3">
            <div class="form-group">
              <label for="issue_category_id">カテゴリ</label>
              <select [(ngModel)]="issue.category_id" name="issue[category_id]" id="issue_category_id" class="form-control input-sm">
              </select>
            </div>
          </div>

          <div class="col-md-3">
            <div class="form-group">
              <label for="issue_fixed_version_id">対象バージョン</label>
              <select [(ngModel)]="issue.fixed_version_id" name="issue[fixed_version_id]" id="issue_fixed_version_id" class="form-control input-sm">
              </select>
            </div>
          </div>
        </div>

        <hr>

        <div class="row">
          <div class="col-md-3">
            <div class="form-group" id="start_date_area">
              <label for="issue_start_date">開始日</label>
              <div class="input-group date">
                <div class="input-group-addon">
                  <i class="fa fa-calendar"></i>
                </div>
                <input type="text" [(ngModel)]="issue.start_date" name="issue[start_date]" id="issue_start_date" class="form-control input-sm pull-right">
              </div>
            </div>
          </div>
          
          <div class="col-md-3">
            <div class="form-group" id="due_date_area">
              <label for="issue_due_date">期日</label>
              <div class="input-group date">
                <div class="input-group-addon">
                  <i class="fa fa-calendar"></i>
                </div>
                <input type="text" [(ngModel)]="issue.due_date" name="issue[due_date]" id="issue_due_date" class="form-control input-sm pull-right">
              </div>
            </div>
          </div>
        </div>

        <hr>

        <div class="form-group">
          <label>ファイル</label>
          <input type="file" name="attachments[dummy][file]" class="file_selector filedrop" multiple="multiple">
        </div>

      </form>
    </div>

    <ng-template #loading>
      <div class="overlay">
        <i class="fa fa-refresh fa-spin"></i>
      </div>
    </ng-template>
  </div>
</section>

