<ng-container [formGroup]="issueFormGroup">
<div class="row">
  <div class="col-md-9">

    <div class="form-group">
      <label>プロジェクト</label>
      <ng-select formControlName="project_id" [items]="api.projects" bindLabel="name" bindValue="id" [clearable]="false"></ng-select>
    </div>

    <div class="form-group">
      <label>トラッカー</label>
      <ng-select formControlName="tracker_id" [items]="api.trackers" bindLabel="name" bindValue="id" [clearable]="false"></ng-select>
    </div>

  </div>
  <div class="col-md-3">

    <div class="checkbox" id="issue_is_private_wrap">
      <input type="hidden" value="0" formControlName="is_private" name="issue[is_private]">
      <input type="checkbox" value="1" formControlName="is_private" name="issue[is_private]" id="issue_is_private">
      <label class="inline" for="issue_is_private" id="issue_is_private_label">プライベート</label>
    </div>

  </div>
</div>

<div class="form-group">
  <label>題名</label>
  <input type="text" formControlName="subject" id="issue_subject" class="form-control">
</div>

<div class="form-group">
  <label>説明</label>
  <textarea formControlName="description" id="issue_description" class="form-control"></textarea>
</div>

<hr>

<div class="row">
  <div class="form-group col-sm-6 col-md-3 col-lg-3 col-xl-3">
    <label>ステータス</label>
    <ng-select formControlName="status_id" [items]="api.issue_statuses" bindLabel="name" bindValue="id" [clearable]="false"></ng-select>
  </div>

  <div class="form-group col-sm-6 col-md-3 col-lg-3 col-xl-3">
    <label>優先度</label>
    <ng-select formControlName="priority_id" [items]="api.issue_priorities" bindLabel="name" bindValue="id" [clearable]="false"></ng-select>
  </div>

  <div class="form-group col-sm-6 col-md-3 col-lg-3 col-xl-3">
    <label>担当者</label>
    <ng-select formControlName="assigned_to_id" [items]="api.issue_priorities" bindLabel="name" bindValue="id" [clearable]="false"></ng-select>
  </div>

  <div class="form-group col-sm-6 col-md-3 col-lg-3 col-xl-3">
    <label>カテゴリ</label>
    <ng-select formControlName="category_id" [items]="api.issue_categories" bindLabel="name" bindValue="id" [clearable]="false"></ng-select>
  </div>

  <div class="form-group col-md-3">
    <label>対象バージョン</label>
    <ng-select formControlName="fixed_version_id" [items]="api.versions" bindLabel="name" bindValue="id" [clearable]="false"></ng-select>
  </div>

  <div class="form-group col-md-3">
    <label>開始日</label>
    <div class="form-group">
      <sq-datetimepicker formControlName="start_date" [options]="dateOptions"></sq-datetimepicker>
    </div>
  </div>

  <div class="form-group col-md-3">
    <label>期日</label>
    <div class="form-group">
      <sq-datetimepicker formControlName="due_date" [options]="dateOptions"></sq-datetimepicker>
    </div>
  </div>
</div>

<hr>

<div formArrayName="custom_fields" class="row">
  <div *ngFor="let control of issueFormGroup.get('custom_fields').controls; let i=index;" class="form-group col-md-3">
    <div [formGroupName]="i">
      <label></label>
      <input formControlName="value" class="form-control">
    </div>
  </div>
</div>

<hr>

<div class="form-group">
  <label>ファイル</label>
  <input type="file" name="attachments[dummy][file]" class="file_selector filedrop" multiple="multiple">
</div>
</ng-container>
