<section class="content-header">
  <ol *ngIf="project" class="breadcrumb">
    <li><i class="fa fa-dashboard"></i> Home</li>
    <li *ngIf="project.parent">{{ project.parent.name }}</li>
    <li class="active">{{ project.name }}</li>
  </ol>
  <h1 *ngIf="project">
    {{ project.name }}
  </h1>
</section>

<section class="content">
  <open-issues-widget [project_id]="project_id"></open-issues-widget>
  <div class="row">
    <div class="col-md-6">
    </div>
    <div class="col-md-6">
      <new-issues-widget [project_id]="project_id"></new-issues-widget>
    </div>
  </div>
</section>
